body{
    background-color: rgb(255, 236, 153);
    font-family: 'Source Code Pro', monospace;
    display: flex;
}
p{
    font-size: 20px;
    transform: translate(5px, 0px);
}
h1{
    font-size: 50px;
    transform: translate(120px, -115px);
    margin-top: 25px;
}
footer{
    background-color: rgb(255, 251, 0);
    color: rgb(255, 123, 0);
    font-weight: 700;
    
}
.floppa{
    width: 100px;
    height: 100px;
}
.recept{
    margin-top: 300px;
}
.videos{
    margin-top: 400px;
}
.video1{
    margin-top: 200px;
    margin-left: -400px;
}